# Project place file
/Projectile Cast Module v.1.0.rbxlx

/src/ServerScriptService
/src/StarterPlayer

# you can skip this first one if it is not already excluded by prior patterns

/*
!/src
/src/*
!/src/ReplicatedStorage
/src/ReplicatedStorage/*
!/src/ReplicatedStorage/ProjectileCast